.wrapper {
  width: 100%;
  margin-top: 8px;
}

.track {
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #FFF;
}

.progress {
  height: 4px;
  background: #ffc044;
  transition: width 200ms ease;
}

.text {
  margin: 4px 0 0;
  font-size: 11px;
  COLOR: #FFF
}